ion-content {
  --background: #e5e5e5;

  .container-card {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    ion-card {
      width: 100%;
    }
  }

  .container-pokemon-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ion-label {
    font-weight: 700;
  }
}

ion-title {
  font-weight: 900;
  font-size: 1.5rem;
  letter-spacing: 2px;
}

ion-toolbar {
  border-radius: 0 0 8px 8px;
}
