ion-content {
  --background: #d1d1d1;
}

ion-title {
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 2px;
}

.container-pokemon-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-loading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 100px;
    height: 100px;
  }
}
