<ion-header class="ion-no-border">
  <ion-toolbar color="danger">
    <ion-back-button defaultHref="home" slot="start"></ion-back-button>
    <ion-title>{{pokemonName | titlecase}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" class="ion-padding-top">
  <ion-card>
    <img [src]="pokemonDetails?.image" [alt]="pokemonName" />
    <ion-card-content>
      <ion-item>
        <ion-label>Pokemon Type</ion-label>
        <ion-chip color="danger" *ngFor="let type of pokemonDetails?.types">
          {{type | titlecase}}
        </ion-chip>
      </ion-item>
      <ion-item *ngFor="let stat of pokemonDetails?.stats">
        <ion-label>{{stat.name | titlecase}}</ion-label>
        <ion-badge>{{stat.value}}</ion-badge>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
