<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <div class="container-logo" (click)="loadPokemons()">
      <img src="/assets/images/pokemon-logo.png" alt="pokemon logo" />
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngIf="pokemonList; else loading">
    <ion-item
      *ngFor="let pokemon of pokemonList?.results"
      (click)="showPokemonDetails(pokemon)"
    >
      <img [src]="pokemon.image" />
      <ion-label>{{pokemon.name | titlecase}}</ion-label>
      <ion-buttons>
        <ion-button (click)="addToFavorites($event, pokemon)">
          <ion-icon
            [name]="pokemon.isFavorite? 'star' : 'star-outline'"
            [color]="pokemon.isFavorite? 'warning' : ''"
            slot="icon-only"
          ></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
  <ng-template #loading>
    <app-loading></app-loading>
  </ng-template>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="danger" (click)="previousPage()">
        <ion-icon name="arrow-back-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <div class="container-pages">
      <ion-button
        *ngFor="let item of paginateItens"
        [color]="item === paginate.currentPage? 'danger' : 'medium'"
        (click)="goToPage(item)"
      >
        {{item}}
      </ion-button>
    </div>
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="nextPage()">
        <ion-icon name="arrow-forward-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
